/* css file for project */

#searchForm {
  width: 50%;
}

body {
  font-family: sans-serif;
}

#job-listings {
  height: 500px;
  width: auto;
  margin: auto;
  overflow: auto;
}


#placeholder-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;}

/* @media (max-width: 400px) {
    td { 
        float:none; 
        display:block; 
    } 
    } */

/* Large desktop */
/* @media (min-width: 1200px) { .col {
    width: 100%;
  } } */

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width: 979px) { .col {
    width: 100%;
  } } */

/* Landscape phone to portrait tablet */
/* @media (max-width: 767px) { .col {
    width: 100%;
  } } */

/* Landscape phones and down */
/* @media (max-width: 480px) { .col {
    width: 100%;
  }} */


